
// .fullwidth-container
//   width 100%
//   max-width 100%
//   clear both
//   margin 0 auto

// .sidebar
//   width 200px
//   display inline
//   height 100%
//   float left



.main
	padding-left 140px


.sidebar
	width:220px
	float:left
	height 100rem
	// background:red
	position fixed
	


// .span2 {background:yellow;}
// .span3 {background:blue;}
.span6 {background:green;}


@media (max-width: 767px) {
  .main {
    padding-left: 0;
  }
}

