@import 'normalize.styl'

@import 'skeleton/grid'
@import 'skeleton/base'
@import 'skeleton/typography'
@import 'skeleton/links'
@import 'skeleton/buttons'
@import 'skeleton/forms'
@import 'skeleton/lists'
@import 'skeleton/code'
@import 'skeleton/tables'
@import 'skeleton/spacing'
@import 'skeleton/utilities'
@import 'skeleton/misc'
@import 'skeleton/clearing'
// @import 'skeleton/mediaqueries'

.sidebar 
  position fixed
  margin 0
  min-heigth 100%
  heigth 100%
  width 26rem
  
// 
// HELPERS
// 

.nomargins
  margin 0

// Prototype Colors
.bg1, .bg-blue
  background-color: rgba(0,162,218,0.6)
.bg2, .bg-red
  background-color: rgba(255,84,61,0.6)
.bg3, .bg-cream
  background-color: rgba(232,165,132,0.6)
.bg4, .bg-yellow
  background-color: rgba(245,255,109,0.6)
.bg5, .bg-green
  background-color: rgba(121,189,143,0.6)
.bg6, .bg-orange
  background-color: rgba(252,168,7,0.6)
.bg7, .bg-purple
  background-color: rgba(168,140,159,0.6)
.b8, .bg-grey
  background-color: rgba(77,89,89,0.6) 
.bg9, .bg-brown
  background-color: rgba(174,98,0,0.6) 
