doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Your page title here :)
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='//fonts.googleapis.com/css?family=Raleway:400,300,600', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='style.min.css')
    link(rel='icon', type='image/png', href='images/favicon.png')
  body

    //- include layout1
    //- include layout2

    .sidebar.span4.bg2
      | this is my fixed sidebar
    .main
      .container-fluid
        .row-fluid
          .span2 this is fluid
          .span3.offset1 yeah!
          .span6 Awesome!
        .row-fluid
          .span6 1 half
          .span6 2 half




    script(src='bundle.min.js')
