doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Your page title here :)
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='//fonts.googleapis.com/css?family=Raleway:400,300,600', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='style.min.css')
    link(rel='icon', type='image/png', href='images/favicon.png')
  body

    //- include layout1
    //- include layout2

    .sidebar.span4.bg1
      | this is my fixed sidebar
    .main.bg3
      .container-fluid.bg5
        .row-fluid
          .col-md-11.col-md-offset-1
            .span2 this is fluid
            .span3.offset1 yeah!
            .span6 Awesome!
            .span2 this is fluid
            .span3.offset1 yeah!
            .span6 Awesome!
            .span2 this is fluid
            .span3.offset1 yeah!
            .span6 Awesome!
            .span2 this is fluid
            .span3.offset1 yeah!
            .span6 Awesome!
        //-     .span2 this is fluid
        //-     .span3.offset1 yeah!
        //-     .span6 Awesome!
        //-     .span2 this is fluid
        //-     .span3.offset1 yeah!
        //-     .span6 Awesome!
        //-     .span2 this is fluid
        //-     .span3.offset1 yeah!
        //-     .span6 Awesome!
        //-     .span2 this is fluid
        //-     .span3.offset1 yeah!
        //-     .span6 Awesome!
        //-     .span2 this is fluid
        //-     .span3.offset1 yeah!
        //-     .span6 Awesome!
        //-     .span2 this is fluid
        //-     .span3.offset1 yeah!
        //-     .span6 Awesome!
        //-     .span2 this is fluid
        //-     .span3.offset1 yeah!
        //-     .span6 Awesome!
        //-     .span2 this is fluid
        //-     .span3.offset1 yeah!
        //-     .span6 Awesome!
        //-     .span2 this is fluid
        //-     .span3.offset1 yeah!
        //-     .span6 Awesome!
        //-     .span2 this is fluid
        //-     .span3.offset1 yeah!
        //-     .span6 Awesome!
        //-     .span2 this is fluid
        //-     .span3.offset1 yeah!
        //-     .span6 Awesome!
        //-     .span2 this is fluid
        //-     .span3.offset1 yeah!
        //-     .span6 Awesome!
        .row-fluid
          .span6.bg4 1 half
          .span6.bg9 2 half




    script(src='bundle.min.js')
