    nav.sidebar(style='width: 20rem; position: fixed; background-color: rgba(0,0,0,0.6);')
        .info
            .title
                this is the title
            .description
                this is some text about me
        .menu 
            ul
                li section 1
                li section 2

    .container(style='margin-left: 20rem; background-color: rgba(100,200,100,0.6)')
      .row
        .one-half.column(style='background-color: rgba(100,200,200,0.6)')
          h4 Basic Page
          p
            | This index.html page is a placeholder with the CSS, font and favicon. It's just waiting for you to add some content! If you need some help hit up the 
            a(href='http://www.getskeleton.com') Skeleton documentation
            | . 
      .row
        .one.column(style='background-color: rgba(110,200,200,0.6)')
          p 1
        .one.column(style='background-color: rgba(120,200,200,0.6)')
          p 2
        .one.column(style='background-color: rgba(130,200,200,0.6)')
          p 3
        .one.column(style='background-color: rgba(140,200,200,0.6)')
          p 4
        .one.column(style='background-color: rgba(150,200,200,0.6)')
          p 5
        .one.column(style='background-color: rgba(160,200,200,0.6)')
          p 6
        .one.column(style='background-color: rgba(170,200,200,0.6)')
          p 7
        .one.column(style='background-color: rgba(180,200,200,0.6)')
          p 8
        .one.column(style='background-color: rgba(190,200,200,0.6)')
          p 9
        .one.column(style='background-color: rgba(200,200,200,0.6)')
          p 10
        .one.column(style='background-color: rgba(210,200,200,0.6)')
          p 11
        .one.column(style='background-color: rgba(220,200,200,0.6)')
          p 12

